;; shadow-cljs configuration
{:deps
true

 :source-paths
 ["src"]

 :dependencies
 []

 :builds
 {:lambda {:target :node-library
           :output-to "./dist/lambda/index.js"
           :exports {:handler lambda.main/handler}
           :compiler-options {:infer-externs :auto}}
 #_ :devtools
 #_ {:http-port 2000
   :http-root "resources/public/js"
   :preloads [shadow.remote.runtime.cljs.browser]}}}
